{% extends "base.html" %}
{#TODO: add Javascript to update the nav bar#}


{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Coach's Name</th>
            <th>Class Size</th>
        </tr>
        </thead>
        <tbody>
        {% for class in classes %}
            <tr>
                <td>{{ class.coach.first_name }} {{ class.coach.last_name }}</td>
                <td>{{ class.size }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}