<!DOCTYPE html>
<html>
<head>
    <link href="/static/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/js/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="/static/js/jquery/jquery-2.0.3.min.js"></script>
    <script src="/static/js/bootstrap/js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
<div id="wrap">
    <div id="main content-area">
            {% block main %}{% endblock %}
    </div>
</div>
<div id="footer">
    {% block footer %}{% endblock %}
</div>
</body>
</html>